/**
* Components: Alertas sweetalert2
* Descripción: Estilos para las alertas y mensajes emergentes
* Autor: [John Becerra]
* Fecha: [04/10/2025]
* Versión: 1.0
* Notas:
* - Se utilizan variables CSS para definir colores y estilos.
* - Se aplican estilos para los botones de confirmación y cancelación.
* - Se definen estilos para el fondo y los bordes de las alertas.
**/
.my-popup {
  background-color: var(--white-color);
  border: 2px solid var(--tertiary-color);
  border-radius: 0.5rem;
}

.my-title {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.my-confirm-button {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border-radius: 0.5rem;
  padding: 0.9rem 1.1rem;
}

.my-cancel-button {
  background-color: var(--danger-color) !important;
  color: #fff !important;
  padding: 0.9rem 1.1rem;
}