/**
*******************************
* Componente: Formulario
* Descripción: Estilos para el formulario de registro
* Autor: [John Becerra]
* Fecha: [04/10/2025]
* Versión: 1.0
* Notas:
* - Se utiliza la fuente Poppins de Google Fonts.
* - Se define un esquema de colores utilizando variables CSS.
* - Se aplican estilos básicos a los elementos del formulario.
* - Se utiliza un diseño responsivo con un contenedor centrado.
* - Se aplican sombras y bordes redondeados para mejorar la apariencia.
* - Se definen estilos para enlaces y encabezados.
* - Se establece un fondo claro para el formulario.
* - Se aplican márgenes y rellenos para un espaciado adecuado.
* - Se definen estilos para los grupos de campos del formulario.
* - Se aplican estilos para etiquetas y entradas de formulario.
*******************************
*/
.form {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  min-width: 360px;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.fom__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  border-bottom: solid 1px var(--primary-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__label {
  font-weight: 400;
  cursor: pointer;
  color: var(--secondary-color);
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: solid 1px var(--primary-color);
  outline: none;
  transition: border 0.5s;
}

.form__input--error {
  border: solid 1px var(--danger-color);
}

.form__input+span {
  color: var(--danger-color);
  font-size: 0.8rem;
}

.form__input:hover {
  border: solid 1px var(--secondary-color);
  transition: border 0.5s;
}